<nav class="navbar navbar-dark knuut-bg-primary dark">
  <a class="navbar-brand" routerLink="/">
    <img src="/assets/favicon_64.png" height="45" class="d-inline-block align-top" alt="Knuut &amp; GGS - logo">
  </a>

  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/ranua-2019">Ranua 2019
        <sup>2</sup>
      </a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>

    </div>

  </div>
</div>

<footer class="container-fluid knuut-bg-primary dark">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3 class="text-center">
        <span style="font-weight: 600">ELMO</span>
      </h3>
      <p>

      </p>
    </div>
  </div>
</footer>
