<div class="text-center">
  <div class="row">
    <div class="col-md-6 p-5 happyimage img-jussi">
    </div>
    <div class="col-md-6 p-5">
      <h1 class="display-1 mb-3">Kuka Jussi?</h1>
      <p class="">Jussi on Kokkolalainen ohjelmisto- ja integraatioarkkitehti. Pääasiallisina työkaluinaan hänellä on
        Jira, Slack, Kanban-taulu,
        Skype, sekä Keynote. Eikä ohjelmointikaan ole unohtunut. Viikottain käy käsi näppäimistöllä Java-, TypeScript-,
        Angular-
        ja PHP-ohjelmoinnin tiimoilta.</p>
      <p class="lead">Jussi pitää selkeästä ja puhtaasta arkkitehtuurista, hienoista moottoripyöristä sekä
        matkustamisesta. Hän haaveilee
        Lake Maggiore maratonin juoksemisesta.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 p-5">
      <h1 class="display-1 mb-3">Henkilötiedot</h1>
      <p>Jussi Rajaniemi
        <br> Rantakatu 5 as 18
        <br> 67100 Kokkola
        <br>
        <br> @: jussi.rajaniemi@alfame.com
        <br> P: 046 811 8508
        <br>
        <br> Perheellinen: vaimo ja 6 vuotias poika
        <br> Ikä: 45 vuotta</p>
      <ul class="text-left">
        <li>
          <a href="https://www.linkedin.com/in/jussi-rajaniemi-83ba5b16/">LinkedIn</a>
        </li>
        <li>
          <a href="https://twitter.com/jussi_rajaniemi">Twitter</a>
        </li>
        <li>
          <a href="https://medium.com/@jussi_rajaniemi">Medium</a>
        </li>
      </ul>
    </div>
    <div class="col-md-6 p-5 happyimage img-kokkola">
      <div class="circle"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 p-5 happyimage img-code">
    </div>
    <div class="col-md-6 p-5">
      <h1 class="display-1 mb-3">Teknologiapaletti</h1>
      <ul class="list-unstyled text-left">
        <li>Ohjelmointi
          <ul>
            <li>Java, C/C++, TypeScript, PHP</li>
            <li>Angular 6, BS4, Foundation, HTML5, CSS3, Node.js, jne</li>
          </ul>
        </li>
        <li>Tietokannat
          <ul>
            <li>MySQL, Postgres, MongoDB</li>
          </ul>
        </li>
        <li>Rajapinnat ja siirtomuodot
          <ul>
            <li>REST, HTTP/SOAP, (S)FTP, TCP/IP</li>
            <li>XML, JSON, HL7, iDOC, CSV, ...</li>
          </ul>
        </li>
        <li>UI Design
          <ul>
            <li>Sketch, Photoshop</li>
            <li>Angular 6, BS4, Foundation, HTML5, CSS3, Node.js, jne</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 p-5">
      <h1 class="display-1 mb-3">Projektinhallinta ja alustat</h1>
      <ul class="list-unstyled text-left">
        <li> Projektinhallinta
          <ul>
            <li>JIRA, GITLAB, Github, Scrum, Kanban</li>
          </ul>
        </li>
        <li> Jatkuvan integraation työkalut
          <ul>
            <li>OpenShift, Docker, Jenkins, jFrog</li>
          </ul>
        </li>
        <li> Pilvipalvelut
          <ul>
            <li>Amazon AWS,
              <a href="https://serverless.com/">Serverless</a>
            </li>
          </ul>
        </li>
        <li>Käyttöjärjestelmät ja palvelimet
          <ul>
            <li>Linux-palvelimet (Ubuntu, Debian, RH)</li>
            <li>OS X, Windows</li>
          </ul>
        </li>
      </ul>
      <p class="lead">Kaikesta teknologiasta huolimatta pidän edelleen flappitaulun ilmaisuvoimasta!</p>

    </div>
    <div class="col-md-6 p-5 happyimage img-backgroung3">

    </div>
  </div>
</div>
