<div class="text-left">
  <div class="row">
    <div class="col-md-6 p-5 happyimage img-kysymys-1">
    </div>
    <div class="col-md-6 p-5">
      <h1 class="display-1 mb-3">Perjantai 2.11.2018</h1>
      <h3 class="display-3 mb-3">Olli Elmon mukana</h3>
      <p class="lead">
        Olli-kani näytti kotiutuvan varsin nopeasti tänne Elmon luokse ja täytyy sanoa, että hauskaa on ollut. Nyt
        teidän muiden lasten tulee osallistua pieneen tietovisaan, jonka Elmo ja Olli ovat tehneet. Oikeat vastaukset
        löytyvät sivun alalaidasta.

        Siispä ensimmäinen kysymys:
      </p>
      <p class="lead">Perjantai-illan herkkuna uunissa paistuu:</p>
      <ol>
        <li>Pannukakku</li>
        <li>Pizza</li>
        <li>Makkaraperunat</li>
      </ol>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6 p-5">
      <h1 class="display-1 mb-3">Olli sai kaverin</h1>
      <p class="lead">Olli sai Elmon ja Elmon vanhempien lisäksi vielä yhden uuden ystävän ja sen nimi on</p>
      <ol class="">
        <li>Onni</li>
        <li>Kalle</li>
        <li>Otto</li>
      </ol>
    </div>
    <div class="col-md-6 p-5 happyimage img-kysymys-2">
    </div>
  </div>


  <div class="row">
    <div class="col-md-6 p-5 happyimage img-kysymys-3">
    </div>
    <div class="col-md-6 p-5">
      <h1 class="display-1 mb-3">Uno on numero yksi</h1>
      <p class="lead">Lauantaiaamu aloitettiin kortinpeluulla. Onko kuvassa?</p>
      <ol>
        <li>Korttikani</li>
        <li>Korttihai</li>
        <li>Korttijussi</li>
      </ol>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6 p-5">
      <h1 class="display-1 mb-3">Missä mennään?</h1>
      <p class="lead">Päivän ulkoilu tapahtui kauniissa luonnonmaisemissa, onko paikkana</p>
      <ol>
        <li>Seljes</li>
        <li>Ohtakari</li>
        <li>Fäboda</li>
      </ol>
    </div>
    <div class="col-md-6 p-5 happyimage img-kysymys-4">
    </div>
  </div>


  <div class="row">
    <div class="col-md-6 p-5 happyimage img-kysymys-5">
    </div>
    <div class="col-md-6 p-5">
      <h1 class="display-1 mb-3">Mitä?</h1>
      <p class="lead">No mutta mihinkäs Elmo ja Olli ovat menossa? Ovatko matkalla</p>
      <ol>
        <li>Avaruuteen</li>
        <li>Vesiralliin</li>
        <li>Skuuttaamaan</li>
      </ol>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6 p-5">
      <h1 class="display-1 mb-3">Älä varasta!</h1>
      <p class="lead">Äiti testasi pikkuleipäreseptiä Elmon synttäreitä varten. Hei mutta yksi pikkuleipä näyttää
        puuttuvan - kukahan sen nappasi? Olikohan se</p>
      <ol>
        <li>Olli</li>
        <li>Otto</li>
        <li>Elmo</li>
      </ol>
    </div>
    <div class="col-md-6 p-5 happyimage img-kysymys-6">
      <div class="circle"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 p-5 happyimage img-kysymys-7">
    </div>
    <div class="col-md-6 p-5">
      <h1 class="display-1 mb-3">SU 4.11.2018</h1>
      <p class="lead">Sunnuntai meni LAISKOTELLESSA - hyvä välillä niinkin! Kävimme kuitenkin laittamassa polkupyörät
        talviteloille ensi kevättä odottelemaan ja samalla teimme pienen puistoretken.</p>
      <p class="lead">Viime vuonna meillä oli Kalle-Nalle eskarista kylässä ja silloin pidimme elokuvaillan. Päätimme
        näyttää saman elokuvan Olli-kanillekin (taka-ajatuksena syödä jättiastia poppareita). Oliko elokuva</p>

      <ol>
        <li>Riisipuuroa kainaloon, Tatu ja Patu</li>
        <li>Rusinoita kainaloon, Tatu ja Patu</li>
        <li>Kanelia kainaloon, Tatu ja Patu</li>
      </ol>
      <p class="lead">Nyt on aika toivottaa Olli-kanille hyvää uutta kouluviikkoa. Hei hei!</p>
    </div>
  </div>


</div>
