<div class="text-left">
  <div class="row">
    <div class="col-md-6 p-5 happyimage annu-kysymys-1">
    </div>
    <div class="col-md-6 p-5">
      <h1 class="display-1 mb-3">Per-jan-tai 11.1.2019</h1>
      <h3 class="display-3 mb-3">An-nun vii-kon-lop-pu El-mol-la</h3>
      <p class="lead">
        An-nu on tul-lut El-mol-le vii-kon-lo-puk-si ky-lään.

        Siis-pä en-sim-mäi-nen ky-sy-mys kuu-luu:
      </p>
      <p class="lead">Mi-kä päi-vä tä-nään on?</p>
      <ol>
        <li>Nak-ki-päi-vä</li>
        <li>Kark-ki-päi-vä</li>
        <li>Lak-ki-päi-vä</li>
      </ol>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6 p-5">
      <h1 class="display-1 mb-3">Jää-kiek-ko-a pe-laa-mas-sa</h1>
      <p class="lead">Mis-sä jää-kiek-koa pe-lat-tiin?</p>
      <ol class="">
        <li>Jää-hal-lis-sa</li>
        <li>Jää-vuo-rel-la</li>
        <li>San-ta-haas-sa</li>
      </ol>
    </div>
    <div class="col-md-6 p-5 happyimage annu-kysymys-2">
    </div>
  </div>


  <div class="row">
    <div class="col-md-6 p-5 happyimage annu-kysymys-3">
    </div>
    <div class="col-md-6 p-5">
      <h1 class="display-1 mb-3">Pe-li-il-ta</h1>
      <p class="lead">An-nu on jää-nyt kiin-ni hui-jauk-ses-ta. Mi-kä o-li pe-lin ni-mi?</p>
      <ol>
        <li>U-NO</li>
        <li>Mo-no-po-ly</li>
        <li>E-pe-li-ä</li>
      </ol>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6 p-5">
      <h1 class="display-1 mb-3">Il-ta-herk-ku-ja</h1>
      <p class="lead">Mi-tä-pä ke-tul-la on mie-les-sä?</p>
      <ol>
        <li>Ket-tu-kark-ki</li>
        <li>Mok-ka-pa-lat</li>
        <li>Pi-par-kak-ku-ta-lo</li>
      </ol>
    </div>
    <div class="col-md-6 p-5 happyimage annu-kysymys-4">
    </div>
  </div>


  <div class="row">
    <div class="col-md-6 p-5 happyimage annu-kysymys-5">
    </div>
    <div class="col-md-6 p-5">
      <h1 class="display-1 mb-3">Myö-häi-nen lop-pi-ai-nen</h1>
      <p class="lead">Mi-tä nyt teh-dään?</p>
      <ol>
        <li>Pu-re-taan kuu-si</li>
        <li>Ko-ris-tel-laan kuu-si</li>
        <li>Las-ke-taan kuu-si plus kuu-si</li>
      </ol>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6 p-5">
      <h1 class="display-1 mb-3">Mum-mol-le tu-li-ai-si-a</h1>
      <p class="lead">Äi-ti te-ki ap-pel-sii-ni-pul-li-a mum-mol-le tu-li-ai-sik-si. Mi-hin nä-mä pul-lat ka-to-si-vat?</p>
      <ol>
        <li>Tuu-len suo-jaan</li>
        <li>Ke-tun huo-maan</li>
        <li>I-si söi vä-lis-tä</li>
      </ol>
    </div>
    <div class="col-md-6 p-5 happyimage annu-kysymys-6">
      <div class="circle"></div>
    </div>
  </div>
</div>
