<div class="text-left">
  <div class="row m-5">
    <div class="col-12">
      <ul>
        <li><a routerLink="/ruka-2018">Itsenäisyyspäivä Rukalla</a></li>
        <li><a routerLink="/elmo-7-v">Elmo 7 vuotta</a></li>
        <li><a routerLink="/legorobotti-2018">Lego-tehtävä</a></li>
        <li><a routerLink="/olli">Olli Elmon mukana</a></li>
        <li><a routerLink="/ranua-2018">Ranua 2018</a></li>
        <li><a routerLink="/urkki-2018">Skootterin huolto</a></li>
        <li><a routerLink="/kesaloma-2018">Kesäloma 2018</a></li>
      </ul>
    </div>
  </div>
</div>
